@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf6ec;
  --foreground: #171A21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191a22;
    --foreground: #fdf6ec;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Lora, serif;
  color: #fdf6ec;
}
.cursor {
  display: inline-block;
  width: 0.9rem;
  height: 1.7rem;
  background-color: #44AF69;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #44AF69;
  }
}
.link {
  color: #44AF69;
  font-weight: 600;
}
.header {
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}
.header:hover {
  border-bottom: 2px solid #44AF69;
  cursor: pointer
}

.header:hover {
  border-bottom: 2px solid #44AF69;
  cursor: pointer;
}

.markdownbody {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}